.card {
  position: relative;
  border-left: 1px solid rgba(168, 168, 168, 0.2);
  border-right: 1px solid rgba(168, 168, 168, 0.2);
  border-top: 1px solid rgba(168, 168, 168, 0.2);
  padding: 20px 12px 20px 12px;
  width: 100%;
  max-width: 440px;
  box-sizing: border-box;
}

.imgTop {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100px;
  width: 50px;
  height: 50px;
  box-shadow: 0 2px 0 0 #e1e4e6;
  background: #eff3f5;
}

.cardTop.cardTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}

.year {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #0a0f13;
}

.type {
  border: 1px solid #a8a8a8;
  border-radius: 1000px;
  padding: 4px 8px;
  width: 118px;
  height: 28px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #0a0f13;
}

.imageWrapper {
  margin-bottom: 12px;
}

.img {
  width: 416px;
  height: 233px;
  display: block;
}

.name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #0a0f13;
  margin-bottom: 28px;
}

.adress {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #0a0f13;
  margin-bottom: 28px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.tag {
  border: 1px solid rgba(168, 168, 168, 0.2);
  border-radius: 1000px;
  padding: 4px 8px;
  height: 28px;
}

.imgBottom {
  width: 100%;
  max-width: 440px;
  height: 28px;
  display: block;
}
