.hero {
  position: relative;
  max-width: 1920px;
  min-height: 468px;
  padding: 24px 60px 12px 60px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.logo {
  display: block;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 32px;
  line-height: 90%;
  letter-spacing: -0.04em;
  color: #0a0f13;
  margin-bottom: 131px;
  position: relative;
  z-index: 2;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.icon {
  width: 40px;
  height: 24px;
  fill: white;
  margin-left: 60px;
  margin-right: 60px;
  cursor: pointer;
  z-index: 2;
}

.icon:hover,
.icon:focus {
  transform: scale(1.2);
}

.detector {
  position: absolute;
  bottom: 12px;
  left: 60px;
  right: 60px;
  height: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 3;
  background: transparent;
}

.union {
  width: 30px;
  height: 8px;
  cursor: pointer;
  stroke: currentColor;
  fill: currentColor;
}

.line {
  flex-grow: 1;
  margin-right: 0;
  height: 1px;
  background: #0a0f13;
  opacity: 0.2;
}

.clover {
  width: 14px;
  height: 14px;
  cursor: pointer;
  stroke: currentColor;
  fill: currentColor;
}
